
<section class="d-flex flex-column gap-3">

  <header class="d-flex gap-3 justify-content-between">
    <mat-form-field class="flex-grow-1">
        <mat-label>{{ labels['SEARCH_INPUT']['LABEL'] }}</mat-label>
        <input matInput type="text" [(ngModel)]="searchInput">
        @if (searchInput) {
          <button matSuffix mat-icon-button aria-label="Clear" (click)="searchInput=''">
            <mat-icon>close</mat-icon>
          </button>
        }
      <mat-hint>{{ labels['SEARCH_INPUT']['HINT'] }}</mat-hint>
      </mat-form-field>
      <button mat-fab routerLink="add">
        <mat-icon>add</mat-icon>
      </button>
    </header>
  <article>
  <mat-card>
    <mat-card-content>
        @if (loading) {
          <div class="d-flex justify-content-center align-items-center">
            <mat-spinner/>
          </div>
        } @else if (!dataSource.length) {
          <div class="d-flex justify-content-center align-items-center">
             <app-no-content-component />
          </div>
        } @else {
          @if (deleting) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
          }
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>{{ labels['TABLE']['HEADER']['ID'] }}</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>{{ labels['TABLE']['HEADER']['NAME'] }}</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <ng-container matColumnDef="power">
              <th mat-header-cell *matHeaderCellDef>{{ labels['TABLE']['HEADER']['POWER'] }}</th>
              <td mat-cell *matCellDef="let element">{{ element.power }}</td>
            </ng-container>

            <ng-container matColumnDef="weakness">
              <th mat-header-cell *matHeaderCellDef>{{ labels['TABLE']['HEADER']['WEAKNESS'] }}</th>
              <td mat-cell *matCellDef="let element">{{ element.weakness }}</td>
            </ng-container>

            <ng-container matColumnDef="birth">
              <th mat-header-cell *matHeaderCellDef>{{ labels['TABLE']['HEADER']['BIRTH'] }}</th>
              <td mat-cell *matCellDef="let element">{{ element.birth.toISOString() }}</td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-center">{{ labels['TABLE']['HEADER']['ACTIONS'] }}</th>
              <td mat-cell *matCellDef="let element">
                <div class="d-flex align-items-center justify-content-center">
                  <button  mat-icon-button [routerLink]="['edit', element.id]">
                    <mat-icon class="text-warning">edit</mat-icon>
                  </button>
                  <button  mat-icon-button (click)="deleteEventHandler(element)">
                    <mat-icon class="text-danger">delete</mat-icon>
                  </button>
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="text-uppercase"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [length]="dataSource.length" [pageSize]="30" aria-label="Select page of GitHub search results"></mat-paginator>
        }
      </mat-card-content>
    </mat-card>
  </article>
</section>
